---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import IndexAbout from "@components/index/IndexAbout.astro";
import IndexBlock2 from "@components/index/Index_block_2.astro";
import CoreValues from "@components/index/CoreValues.astro";
import Experience from "@components/index/Experience.astro";
---

<Layout>
  <main>
    <Hero />
    <IndexAbout />
    <IndexBlock2 />
    <Experience />
    <CoreValues />
    <!-- Contact us sec -->
  </main>
</Layout>

<style></style>
