---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import IndexAbout from "@components/IndexAbout.astro";
import IndexBlock2 from "@components/Index_block_2.astro";
---

<Layout>
  <main>
    <Hero />
    <IndexAbout />
    <IndexBlock2 />
  </main>
</Layout>

<style></style>
