---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/index/Hero.astro";
import CoreValues from "@components/index/CoreValues.astro";
import Experience from "@components/index/Experience.astro";
import ContactUs from "@components/index/ContactUs.astro";
import FinancialProjections from "@components/index/FinancialProjections.astro";
import WhatToExpect from "@components/index/WhatToExpect.astro";
---

<Layout title="Index">
  <main>
    <Hero />
    <WhatToExpect />
    <FinancialProjections />
    <Experience />
    <CoreValues card_bg="grey" backGround="blackBackground" />
    <ContactUs />
  </main>
</Layout>

<style></style>
