---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import IndexAbout from "@components/index/IndexAbout.astro";
import CoreValues from "@components/index/CoreValues.astro";
import Experience from "@components/index/Experience.astro";
import ContactUs from "@components/index/ContactUs.astro";
import FinancialProjections from "@components/index/FinancialProjections.astro";
---

<Layout>
  <main>
    <Hero />
    <IndexAbout />
    <FinancialProjections />
    <Experience />
    <CoreValues />
    <ContactUs />
  </main>
</Layout>

<style></style>
