---
import Newsletter from "./Newsletter.astro";
---

<footer class="full-bleed">
  <p>AskEksperts</p>
  <hr />
  <p>©2025 Consultalk. All rights reserved | Terms of Service | Privacy Policy</p>
</footer>

<style>
  footer {
    padding: var(--space-l);
    margin-top: var(--space-xl);

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;

    hr {
      align-self: stretch;

      width: 60%; /* sæt ønsket bredde */
      border: none;
      height: 2px;
      background-color: #707070;
      margin: var(--space-l) auto;
    }
  }
</style>
