---
const { h1, p } = Astro.props;
---

<header class="container">
  <p>{p}</p>
  <h1>{h1}</h1>
</header>
<style>
  header {
    display: inline-flex;
    flex-direction: column;
    justify-self: start;
    align-self: center;
    gap: var(--space-xs);
    padding: 3rem 3.75rem;
    border-radius: 1.8125rem;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5.5px);
    width: fit-content;
    /* max-width: 700px; */
    h1 {
      font-size: var(--step-0);
      font-family: 600;
    }
    p {
      text-transform: uppercase;
      border-radius: 1.25rem;
      padding: 0 0.9375rem;
      background-color: var(--yellow);
      width: fit-content;
    }
  }
</style>
