---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Newsletter from "@components/Newsletter.astro";
import "@styles/main.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style is:inline>
      @layer reset, global, components, overrides;
    </style>
  </head>
  <body>
    <Header />
    <slot />
    <Newsletter />
    <Footer />
  </body>
</html>

<style></style>
